* {
  margin: 0;
  padding: 0;
}

/* ********************************************************************** */
/* 圣杯布局方法2 */
.wrap2 {
  position: relative;
  margin-top: 100px;
}

.left2,
.right2 {
  position: absolute;
  top: 0;
  width: 200px;
  height: 100px;
  background-color: blue;
}

.left2 {
  left: 0;
}

.right2 {
  right: 0;
}

.center2 {
  /* 中间元素不能加width:100%; */
  margin: 0 200px;
  background-color: tomato;
}